.passCehck{
    font-size: large;
    margin-top: 20%;
    margin-left: 30%;
} 
.textcenter {
    text-align: center;
    font-size: large;
}
.pageTile{
    font-weight: 600;
    text-align: center;
    color: #477A7B;
    margin: 0 0 30px;
    padding: 0 10px;
    line-height: 1.2em;
}

.info{
    margin: 5px 0 40px;
    line-height: 100%;
    color: #757575;
}
#sercure_password{
        min-height: 40px;
            line-height: 40px;
            padding: 0 10px;
            border: 0;
            background: #dfe9e8;
            color: #477a7b;
            font-size: 15px;
}
.base_Button{
    padding: 40px 0 10px 0;
    margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font-weight: inherit;
        vertical-align: baseline;
}
.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.button {
    background-color:#477a7b;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #3e8e41;
}
/* display: flex;
    
align-items: center;
height: 100vh; */